
body {
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  background-color: #0e1152;
  font-family: 'Oxygen', sans-serif;
  /*min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;*/
}


/* Header */
#header-nav {
  overflow: hidden;
  border-radius: 0;
  border: 0;
  background-color: #e6e6fa;

}


#logo-img {
  background: url('logo.jpg') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
  float: left;
}


/* navbar-brand a h4  (sabbath school)*/
.navbar-brand a { 
  text-decoration: none;
}

.navbar-brand h4 { 
  font-weight: bold;
  /*font-size: 2vw;*/
}


.navbar-brand a:hover, a:focus {
  color: #1c8adb;
}


/* navbar-brand p (Gethsemane church)*/
.navbar-brand p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: .10;
  font-size: .7em;
  /*text-transform: uppercase;*/
}


.navbar-brand p span {
  color: #1c8adb;
  /*vertical-align: middle;*/
}



.navbar .offcanvas-body .nav-item a:hover {
  color: #1c8adb;
  text-decoration: underline;
}



.navbar button.navbar-toggler { /* menu bar */
  color: #fff;
  border: 1px solid #1c8adb;

}


.navbar button.navbar-toggler:hover { /* Menu bar */
  background-color: #1c8adb;
  color: white;
}



.navbar ul li button:hover {
  text-decoration: underline;
  background: transparent;
}



.navbar ul li button {
  color: blue;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 6px;
}


/********/ 



#d1353 {
  display: none;
}


.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mylogin-page {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  background: #ffffff;
}


h1 {
  color: #1c8adb;
  margin-bottom: 2rem;
  text-align: center;
}

.form__input-error-message {
  color: black;
}

.form__message--error {
  color: black;
}


.form--hidden {
  display: none;
}


.form > *:first-child {
  margin-top: 0;
}


.form > *:last-child {
  margin-bottom: 0;
}


.form__message {
  text-align: center;
  margin-bottom: 1rem;
}


.form__message--success {
  color: green;
}


.form__message--error {
  color: red;
}


.form__input-group {
  margin-bottom: 1rem;
}



.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  
  outline: none;
}


.form__input:hover {
  border-color: #1c8adb;
}


.form__input--error {
  color: red;
  border-color: red;
}


.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: red;
}


.form__button {
  width: 100%;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: #1c8adb;
  outline: none;
  cursor: pointer;
  background: #1c8adb;
  margin-bottom: 1rem;
}


.form__button:hover {
  color: #fff;
  background: #1D64CC
}


.form__text {
  text-align: center;
}


.form__link {
  text-decoration: none;
  cursor: pointer;
}


.form__link:hover {
  text-decoration: underline;
}














/*.form__button {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 6px;
}*/































/*.navbar .offcanvas-body .nav-item b { /* Registration 
  font-style: italic;
  text-decoration: underline;
  font-size: 15px;
  color: green;
}




/*.navbar .offcanvas-body .nav-item b a:hover { /* Registration 
  color: red;
}/*




.navbar .offcanvas-body button:hover {
  color: white;
  background-color: #1353f2;
}


.navbar .offcanvas-body button {
  border-color: #1353f2;
  color: #1353f2;
}








